<div class="row" id="login">
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">
         <span class="glyphicon glyphicon-lock"></span> Login</div>
      <div class="panel-body">
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label for="loginMail" class="col-sm-3 control-label">
           Email</label>
          <div class="col-sm-9">
            <input [(ngModel)]="email" type="email" class="form-control" name="loginMail" id="loginMail" placeholder="Email" required>
          </div>
        </div>
        <div class="form-group">
          <label for="loginPass" class="col-sm-3 control-label">
          Password</label>
          <div class="col-sm-9">
            <input [(ngModel)]="password" type="password" class="form-control" name="loginPass" id="loginPass" placeholder="Password" required>
          </div>
        </div>
        <div class="form-group last">
          <div class="col-sm-offset-3 col-sm-9">
            <button (click)="loginClick()" type="submit" class="btn btn-success btn-sm">
            Sign in</button>
          </div>
        </div>
      </form>
    </div>
    <div class="panel panel-info"><div class="panel-heading  text-center">External Login Providers</div>
    <div class="panel-holder"><app-google></app-google></div></div> 
    <div class="panel-footer">
      Not Registered? <a>Register here</a></div>
    </div>
  </div>
</div>